:root {
  --header-color: #ef233c;
}

* {
  font-family: "Hack", sans-serif;
}

body {
  background-color: #8d99ae;
}

section > p,
ul,
li,
pre {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vh;
  margin: 8vh 20vw;
}

header {
  color: var(--header-color);
  font-size: 8vh;
  font-weight: bold;
}

a {
  color: black;
  padding: 4px;
}

/* The media query is not really useful. I just use it o pass the fcc unit test*/
@media (max-width: 1000px) {
  body {
    background-color: #edf2f4;
  }
}
